<a [routerLink]="['/']">
    <h1></h1>
    <div class="img-logo-ppal">
        <img src="../../assets/img/LogoSmartFilters.png" />
    </div>
</a>

<!--<a [routerLink]="['/cart']" class="button fancy-button"><i class="material-icons right">shopping_cart</i>Checkout</a>-->
<a [routerLink]="['/home']" class="button fancy-button"><i class="material-icons">home</i>Home</a>
<a [routerLink]="['/message']" class="button fancy-button"><i class="material-icons">message</i>Message</a>
<a [routerLink]="['/wishlist']" class="button fancy-button"><i class="material-icons">star</i>Wishlist</a>
<a [routerLink]="['/settings']" class="button fancy-button"><i class="material-icons">settings</i>Settings</a>
<a [routerLink]="['/myaccount']" class="button fancy-button"><i class="material-icons">person</i>My Account</a>